html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#div1 {
    position: absolute;
    float:left;
    background: blue;
}
#div2{
    top: 0;
    position: sticky;
    height: 100%;
    width: 25%;
    background: red;
  
}