html,body {
    margin: 0;
    height: 100%;
}

#root {
    margin: 0;
    height: 100%;
    font-family: Arial;
    background-color: #FFFFFF;
    /* --e-global-color-primary: #527185;
    --e-global-color-secondary: #323232;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #F69231;
    --e-global-color-0b04c19: #FFFFFF; */
}